<p>
  <h1><%= @recipe.name %></h1>
</p>
    
<div class="row">
  <div class="col-md-4 pull-right center">
    
  </div>
</div>

<h5><%= link_to "Return to Recipes Listing", recipes_path, class: "btn btn-warning btn-small" %></h5>
